/* Copy and paste your CSS from CodePen into here */
html {
  font-size: 18px;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

@media (max-width:660px) {
  h1 {
    font-size: 2rem;
    line-height: 1.2;
  }
}

#main {
  background-color: #f7a3da;
  padding: 0.5rem 3rem;
  margin: 20px;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 5px auto;
}

#img-div {
  background: white;
  padding: 10px;
  margin: 0;
}

li {
  line-height: 140%;
}


